/.idea/
/cmake-build-debug/
/CMakeFiles/
/examples/*
!/examples/test*
!/examples/jailed.c
/tests/*
!/tests/client
!/tests/index.php
!/tests/input.txt
!/tests/log/
/tests/log/*.log
!/tests/log/.*
!/tests/multitest.sh
!/tests/test.sh
a.out
Client
cmake_install.cmake
CMakeCache.txt
Jailed
Judge
Judgement.cbp
Makefile
